  <section class="section-title">
    <div class="container">
      <h1>Careers<small> What Do We Do?</small></h1>
    </div>
  </section>


  <section>
    <div class="container">
      <div class="animated fadeIn">
      <div class="row">
        <div class="col-md-12">
          <img src="images/people.jpg" class="img-responsive">
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <h2 class="page-header">Careers</h2>
              <p>Enjoy creating customer value through creative and disruptive blockchain solutions? Check out the following open positions in our Chicago (USA) and Pune (India) locations. </p>
              <br>
        <!-- </div>
        <div class="col-md-4">
           <h2 class="page-header">Want More?</h2> -->
              <p>Join our high performance team! Send in your Resume to careers@bonbloc.com </p>
              <!-- <a class="btn btn-primary" href="#">Read More</a> -->
        </div>
      </div>

      <div class="row">
        <div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a data-target="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Product Development</a></li>
    <li role="presentation"><a data-target="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Sales</a></li>
    <li role="presentation"><a data-target="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Business Process Gurus</a></li>
    <!-- <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Service 4</a></li> -->
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="tab1">
      <br>
      <!-- <i class="fa fa-gear pull-left fa-4x"></i> -->
              <p>Looking for Technology Ninjas across a number of locations in India. Love to get your hands dirty behind the scenes? You will love this.
                  3-5 years of cutting edge product development experience across a range of technologies and platforms.</p>
              <p>We look for breadth and depth across various skills - Javascript, Python, Node.js, Angular, Chaincode, Blockchain, Ethereum; IBM and Microsoft platforms for Blockchain; Google Cloud Platform and APIs; AWS; Micro Services architecture and development; Information Security; Quality Assurance; Agile development; Open Source tools and repositories; data mining and visualization; responsive UI; traditional SQL and NOSQL databases; integration with mainstream solutions such as Infor, JDA, Manhattan, Oracle or SAP; and credentials in project management, agile methodology. Exposure to IoT, Robotic Process Automation, and Big data technologies and tools is desirable.</p>
              <p>Equally important is an ability to learn, experiment and gain expertise in any related new technology within 24 hours, and write a architecture/technology relevant research quality whitepaper within 72 hours. This is an important trait as blockchain space is evolving at lightning speed.</p>
              <p>Ability to play any role within product team - scrum masters, architects, developers, testers, trainers or devops specialists - is required.
                  Ninja agility is a MUST.</p>
                  <br>
                  <a class="btn btn-primary display-4" href="#">Apply Now</a>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab2">
        <br>
        <!-- <i class="fa fa-gear pull-left fa-4x"></i> -->
                <p>Minimum 7 years of sales experience - top closer and a routine quota beater.</p>
                
                <p>We look for sales planning, and organization; depth in an industry; ability to sell value at all levels; outstanding presentation skills, ability to lead customer value delivery; account management skills; value engineering skills; exposure to solutions and services in cloud, mobile and data analytics.</p>
                
                <p>Ownership attitude and ability to meet sales plan are a MUST.</p>
                <br>
                <a class="btn btn-primary display-4" href="#">Apply Now</a>
    </div>

       <div role="tabpanel" class="tab-pane" id="tab3">
      <br>
      <!-- <i class="fa fa-gear pull-left fa-4x"></i> -->
              <p>Minimum 10 years intense experience across business value chain, preferably in multi-tenant networked processes, from any mainstream industry.</p>
              <p>We look for breadth and depth in value chain segments; exposure to mainstream enterprise solutions such as Infor, JDA, Manhattan, Oracle, or SAP; credentials in Six Sigma, Lean, and Program Management; and an ability to design and embed best practices into solutions. Exposure to IoT, Robotic Process Automation, Blockchain and Big data is desirable. </p>
              <p>Experience is a MUST and weighs more, but a solid education and a top school pedigree helps. Equally important is an ability to experiment and learn any new relevant technology or trend within 24 hours, and write a business relevant research quality whitepaper on within 72 hours. This is an important trait as blockchain space is evolving at lightning speed.</p>
              <p>Candidates would already be senior managers owning a business function within industry, or managing vertical solutions at software or consulting firms. Ability to define and own products is critical to success.​</p>
              <p>Ownership attitude and ability to excel in a flat organization structure is a MUST.</p>
              <br>
              <a class="btn btn-primary display-4" href="#">Apply Now</a>
              <br>

    </div>
  </div>

</div>
      </div>

      <!-- <div class="row">
        <div class="col-lg-12">
          <h2 class="page-header">Service Images</h2>
        </div>

        <div class="col-sm-4">
          <img class="img-responsive img-thumbnail" src="img/train1.jpg">
          <h3>Service One</h3>
          <p>Service one description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
          <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
        </div>

        <div class="col-sm-4">
          <img class="img-responsive img-thumbnail" src="img/train2.jpg">
          <h3>Service Two</h3>
          <p>Service two description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
          <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
        </div>

        <div class="col-sm-4">
          <img class="img-responsive img-thumbnail" src="img/train3.jpg">
          <h3>Service Three</h3>
          <p>Service three description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
          <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
        </div>
      </div>
    </div>
  </div>-->
  </section>


